:root { 
--black_900_0a:#0000000a; 
--gray_400:#b0b1b3; 
--green_800_ce:#1ea810ce; 
--gray_500:#959799; 
--blue_gray_100:#cacbcc; 
--deep_purple_800:#2f14d0; 
--gray_900:#181919; 
--gray_900_01:#1d2129; 
--black_900_3f:#0000003f; 
--gray_300:#e4e5e5; 
--gray_100:#f2f2f2; 
--gray_300_7f:#e4e5e57f; 
--black_900_00:#00000000; 
--blue_gray_900_1e:#18274b1e; 
--gray_100_99:#f2f2f299; 
--white_A700:#ffffff; 
}